/* .event {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;

  text-align: center;
  color: grey;
  font-size: large;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.eventImage {
  padding: 20px 0 10px 0;
  width: 80%;
}

.event-card button:hover {
  opacity: 0.7;
}

.eve-container {
  background-color: #fff;
}
.eve-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}
.eve-head {
  background: -webkit-linear-gradient(#002874, #cc0045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
}
.eventButton {
  /* max-width: 800px; */
  width: 70%;
  padding: 10px;
}
.button {
  background-image: -webkit-linear-gradient(#002874, #cc0045); /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 1rem;
  width: 100%;
}

.button1 {
  color: #ffffff;
  background-image: -webkit-linear-gradient(#cc0045, #002874);
}
.eventImage {
  max-width: 300px;
  height: auto;
}
@media only screen and (max-width: 850px) {
  .eve-heading {
    font-size: 35px;
  }
  .event-card {
    width: 100%;
    margin: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .eve-heading {
    font-size: 28px;
  }
  .button {
    font-size: 12px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .event-card {
    width: 100%;
    margin: 20px;
  }
  .eventImage {
    padding: 20px 5px 5px 5px;
    width: 90%;
  }
  .coming-soon {
    padding: 20px 0 20px 0;
  }
}
