.contact-container {
    width: 100%;
    height: 40%;
    padding-top: 5%;
    color: blue;
    padding-bottom: 5%;
  }

.cu-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 45px;
}

.iedc {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 10%;
    width: 30%;
}
.contacts {
    display: flex;
    flex-direction: row;
    width: 60%;
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact-heading{
  background: -webkit-linear-gradient(#002874, #cc0045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
}
.vl {
    background-image: -webkit-linear-gradient(#002874, #cc0045);
    width: 3px;
    height: 100px;
    margin-right: 5%;
    margin-left: 5%;
  }
.vl-main{
    display: none;
}

.iedc-name {
    font-size: 16px;
    font-weight:bold;
    color: #2B206A;
}

.iedc-add {
    font-size: 14px;
    background: -webkit-linear-gradient(#002874, #cc0045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c-name {
    font-size: 16px;
    font-weight:bold;
    color: #2B206A;
    
}
.c-desig {
    font-size: 14px;
    background: -webkit-linear-gradient(#002874, #cc0045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 850px){
    
    .iedc-name{
        font-size: 14px;
    }
    .iedc-add {
        font-size: 12px;
    }
    .c-name {
        font-size: 14px;
    }
    .c-desig {
        font-size: 12px;
    }
    .iedc {
        width: 35%;
    }
}
@media only screen and (max-width: 650px){
    .cu-contents {
        font-size: 28px;
    }
}

@media only screen and (max-width: 450px){
    .cu-contents {
        font-size: 24px;
    }
}
@media (pointer:none), (pointer:coarse) {
    .vl-contact {
        display: none;
    }

    .vl-main{
        display: flex;
        width: 1px;
    }
    .contact {
        margin-bottom: 10px;
    }
    .contacts {
        flex-direction: column;
    }
}
@media only screen and (max-width: 400px){
    .cu-contents {
        font-size: 24px;
    }
    .contacts {
        flex-direction: column;
    }
    .contact {
        margin-bottom: 10px;
    }
    .vl-contact {
        display: none;
    }
    .vl {
        width: 1px;
    }
    .vl-main{
        width: 1px;
        display: flex;
    }
}

@media only screen and (max-width: 350px){
   
    .iedc-name{
        font-size: 12px;
    }
    .c-name {
        font-size: 12px;
    }
    .iedc {
        width: 40%;
    }
}
