* {
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    margin: 2%;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(180deg, #002874 0%, #CC0045 100%);
}

.nav-item {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    width: 100%;
}

.av-link {
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
}
.av-link:hover {
    text-decoration: underline;
}
@media screen and (max-width:750px) {
    .navbar {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (max-width:650px) {
    .av-link {
        padding: 8px 10px;
        font-size: 14px;
    }
}
@media screen and (max-width:450px) {
    
    .navbar {
        margin-left: 4%;
        margin-right: 4%;
    }
}
@media screen and (max-width:350px) {
    .av-link {
        padding: 8px 6px;
        font-size: 13px;
    }
    .navbar {
        height: 35px;
    }
}

@media screen and (max-width:300px) {
    .av-link {
        padding: 8px 3px;
        font-size: 10px;
    }
    .navbar {
        height: 30px;
    }
}

