    .content-div {
        margin-left: 50px;
    }
    
    .img-div {
        text-align: center;
    }
    
    .top-heading {
        padding-top: 30px;
        padding-left: 50px;
        font-size: 40px;
        padding-bottom: 15px;
        text-align: center;
    }
    
    .top-text {
        padding-left: 100px;
        font-size: 16px;
    }
    
    .btn {
        background-color: white;
        border-radius: 20px;
        border: none;
        color: #002874;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 40px;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: whitesmoke;
    }
    
    .top-img {
        width: 600px;
        padding-right: 10px;
        padding-left: 220px;
        height: 400px;
    }
    
    @media (max-width: 600px) {
        .top-text {
            font-size: 18px;
        }
        .top-heading {
            font-size: 35px;
        }
        .top-img {
            display: none
        }
        .img-div {
            display:  none !important;
        }
        
    }
    
    @media (max-width: 740px) {
        .content-div {
            margin-left: 5px;
        }
        .top-img {
            width: 100%;
            padding-left: 40px;
            padding-right: 10px;
        }
        .btn {
            color: blue;
        }
    }
    
    @media screen and (min-width: 860px) and (max-width: 1100px) {
        .top-img {
            width: 130%;
            padding-left: 150px;
        }
        .container {
            width: 83%;
        }
    }
    
    @media screen and (max-width: 860px) {
        .top-heading {
            padding-left: 0px;
        }
        .top-text {
            padding-left: 20px;
        }
        .top-img {
            width: 140%;
            padding-right: 10px;
            padding-left: 40px;
        }
    }
    
    @media screen and (min-width: 1100px) {
        .btn {
            margin-left: 40px;
        }
    }
    
    @media screen and (min-width: 1250px) {
        .btn {
            margin-left: 80px;
        }
    }