.top-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rocket-date {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
}
.combine {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.social_media {
    font-size: 45px;    
}

.media_page {
    margin-right: 20px;
    color: #002874;
}

@media only screen and (max-width : 850px) {
    .social_media {
        font-size: 35px;
    }
    .logo {
        max-width: 85%;
    }
  }
  
  @media only screen and (max-width : 450px) {
    .social_media {
        font-size: 24px;
    }
    .logo {
        max-width: 100%;
    }
    .rocket-date {
        margin-bottom: 12%;
    }
  }
  
  
