.row {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}


.problem-img-div {
    text-align: center;
}

.problem-heading {
    padding-top: 30px;
    margin-left: -10px;
    font-size: 40px;
}

.problem-text {
    font-size: 19px;
    text-align: left;
    margin-top: 30px;
}

.problem-img {
    padding-left: 130px;
    margin: auto;
    width: 370px;
}

@media (max-width: 600px) {
    .row .col.m8 {
        width: 80%;
        margin-left: 0px;
        margin: auto;
    }
    .problem-text {
        font-size: 18px;
        text-align: center;
    }
    .problem-heading {
        font-size: 35px;
    }
    .problem-img {
        display: none;
    }
    .container {
        width: 83%;
    }
    .problem-img-div {
        display: none !important;
    }

}