.container{
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  
}

.sponsors-row {
  justify-content: space-between;
  margin-top: 40px !important;
  width: 90%;
  flex-flow: wrap;
  flex-grow: 0;

}

#first,
#second,
#third {
  flex: 1;
}

.heading {
  font-size: 40px;
  text-align: left;
}

@media (max-width: 600px)
{
  .heading {
    text-align: center;
  }
}
