.about-container {
    width: 100%;
    background-color: #002874;
    color: #fff;
  }
  
.col {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-top: -24%;
}

.top-vector {
    width: 25%;
    height: auto;
    
}

.meet-img {
    width: 25%;
    height: auto;
    border-radius: 8px;
}

.about-button {
    background-color: #cc0045; /* Green */
    border: none;
    color: white;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 1rem;
  }
  .about-button1 {
    background-color: white;
    color: black;
  }
.headerContent {
    align-self: center;
}

.header {
    font-size: 45px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 40px;
}

.aboutContent {
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    align-self: center;
}

.aboutVector {
    width: 20%;
}

.vector {
    max-width: 100%;
    height: auto;
    margin-left: -20%;
}

.aboutText {
    width: 60%;
}

.textStyle {
    font-size: 24px;
    font-weight: 400;
}

.wave-d {
    width: 100%;
    margin-bottom: -10px;
    margin-top: -5px;
}


@media only screen and (max-width: 1100px) {
    .row {
        margin-bottom: -70px;
    }
}
@media only screen and (max-width: 850px) {
    
    
    .textStyle {
        font-size: 22px;
    }
    .row {
        margin-bottom: -60px;
    }
    .vector {
        max-width: 75%;
        margin-left: 0;
    }
    .aboutVector {
        width: 35%;
    }
    .header {
        font-size: 35px;
    }
}

@media only screen and (max-width: 650px) {
    
    .textStyle {
        font-size: 18px;
    }
    .row {
        margin-bottom: -30px;
    }
    .about-button{
        font-size: 12px;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    

    .header {
        font-size: 28px;
    }
    .meet-img {
        width: 30%;
    }
    .top-vector {
        width: 30%;
    }
}

@media only screen and (max-width: 350px) {
    .textStyle {
        font-size: 18px;
    }
    .row {
        margin-bottom: -20px;
    }
    
}

@media only screen and (max-width: 300px) {
    .textStyle {
        font-size: 18px;
    }
    .row {
        margin-bottom: -20px;
    }
    
}