.about-container {
    max-width: 1280px;
    width: 100%;
    background-color: #002874;
    color: #fff;
    padding-top: 40px;
  }
  
.col {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.headerContent {
    align-self: center;
}

.header {
    font-size: 45px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 40px;
}

.aboutContent {
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: center;
}

.aboutVector {
    width: 20%;
}

.vector {
    max-width: 80%;
    height: auto;
}

.aboutText {
    width: 60%;
}

.textStyle {
    font-size: 24px;
    font-weight: 400;
}

.wave-d {
    width: 100%;
    margin-bottom: -10px;
    margin-top: -5px;
}

.topRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.outerTop {
    position: absolute;
    bottom: -250px;
    width: 100%;
    height: 35%;
}

.register-btn {
    min-width: 100px;
    align-self: center;
    min-height: 30px;
    width: 40%;
    height: 40%;
    font-size: 22px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
}

.top-section {
    width: 100%;
}

.topVector {
    max-width: 100%;
    height: auto;
}

.meet-outer {
    width: 60%;
    height: 100%;
    margin-left: 80px;
}

.meet {
    max-width: 60%;
    height: auto;
    border-radius: 22px;
    border: 9px solid #FFFFFF;
}

.vector-top {
    width: 33%;
}

@media only screen and (max-width: 1100px) {
    .row {
        margin-bottom: -70px;
    }
}

@media only screen and (max-width: 950px){
    .outerTop {
        bottom: -110px;
    }
}

@media only screen and (max-width: 850px) {
    
    .meet-outer {
        margin-left: 40px;
    }
    .meet {
        max-width: 70%;
        border: 6px solid #FFFFFF;
    }
    .topVector {
        max-width: 100%;
    }
    .register-btn {
        font-size: 16px;
    }
    .textStyle {
        font-size: 22px;
    }
    .row {
        margin-bottom: -60px;
    }
    .vector {
        max-width: 100%;
    }
    .aboutVector {
        width: 35%;
    }
    .header {
        font-size: 35px;
    }
}

@media only screen and (max-width: 650px) {
    .outerTop {
        top: 12%;
    }
    .meet {
        max-width: 75%;
        border: 3px solid #FFFFFF;
    }
    .register-btn {
        font-size: 16px;
    }
    .textStyle {
        font-size: 18px;
    }
    .row {
        margin-bottom: -30px;
    }
}

@media only screen and (max-width: 450px) {
    .outerTop {
        top: 12%;
        height: 15%;
    }

    .header {
        font-size: 28px;
    }
}

@media only screen and (max-width: 350px) {
    .textStyle {
        font-size: 18px;
    }
    .row {
        margin-bottom: -20px;
    }
    .outerTop {
        top: 12%;
        height: 12%;
    }
}