.row .col.m4 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.prize-div {
  text-align: center;

}

.prize-img {
  width: 140px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 20px;
}

.offset {
  margin-top: 220px;
}

.prize-heading {
  margin-left: -10px;
  font-size: 40px;
}

@media (max-width: 600px) {
  .prize-container {
    padding-bottom: 40px;
  }
  .prize-heading {
    font-size: 35px;
    text-align: center
  }
  .prize-img {
    width: 70%;
  }
}
