.primary-color {
  background-color: #002874;
}
.secondary-color {
  background-color: #cc0045;
}

#hackathonPage {
  background-color: #002874;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

#landingPage {
  background-color: #002874;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
