@import url('https://fonts.googleapis.com/css2?family=Montserrat');
.primary-color {
  background-color: #002874;
}
.secondary-color {
  background-color: #cc0045;
}

#hackathonPage {
  background-color:#fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

#landingPage {
  background-color: #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.headings {
  font-size: 45px;
  text-align: left;
  font-weight: bold;
}


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
  padding: 40px 0;
  padding-left: 40px;
}

.headings {
  font-size: 45px;
  margin-bottom: 5%;
  margin-left: 10%;
}

.heading {
  font-size: 45px;
  margin-bottom: 5%;
}
@media only screen and (max-width : 650px) {
  .headings {
    font-size: 38px;
  }
  .heading {
    font-size: 38px;
  }
}
@media only screen and (max-width : 500px) {
  .headings {
    font-size: 35px;
    margin-bottom: 10%;
  }
  .heading {
    font-size: 35px;
  }
  .container {
    padding-left: 0px;
  }
}
@media only screen and (max-width : 350px) {
  .headings {
    font-size: 24px;
  }
  .heading {
    font-size: 24px;
  }
}