.primary-color {
  background-color: #002874;
}
.secondary-color {
  background-color: #cc0045;
}

#hackathonPage {
  background-color: #002874;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

#landingPage {
  background-color: #cc0045;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.headings {
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  text-align: left;
}

@media only screen and (max-width : 850px) {
  .headings {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
  }
  
}