.sponsor-container {
  width: 100%;
  background-image: url("../../../Assets/Partner-Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
}

.sponsor-heading {
  padding-left: 10%;
  font-size: 45px;
  margin-bottom: 40px;
  padding: 30;
  width: 100%;
}



.content {
  /* padding-bottom: 40px; */
  /* width: auto; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.partner-image {
  width: 17rem;
  height: 8rem;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 830px) {
  .sponsor-container {
    background-position: center;
  }
  .sponsor-heading {
    font-size: 35px;
  }
}

@media only screen and (max-width: 450px) {
  .sponsor-heading {
    font-size: 28px;
  }
  .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .partner-image {
    width: 7rem;
    height: 3.5rem;
    object-fit: cover;
  }
}
