.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}

.sponsor-heading {
  text-align: center;
  font-size: 55px;
  margin-bottom: 40px;
  padding: 30;
  width: 100%;
}

.tick {
  text-align: right;
  margin-bottom: -90px;
  margin-right: 50px;
}

.row {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}



#first,
#second,
#third,
#fourth {
  flex: 1;
}
