.row {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.track-img-div {
    text-align: center;
}
.track-text {
    font-size: 22px;
    text-align: left;
    margin-top: 30px;
}

.track-img {
    padding-left: 130px;
    margin: auto;
    width: 370px;
    height:270px;
}

@media (max-width: 600px) {
    .row .col.m8 {
        width: 80%;
        margin-left: 0px;
        margin: auto;
    }
    .track-text {
        font-size: 18px;
    }
    .track-img {
        display: none;
    }
    .container {
        width: 83%;
    }
    .track-img-div {
        display: none !important;
    }
    .row .col.m8  {
        justify-content: center;
        align-items: center;
    }
}